{
  "allFormat": "glob",
  "current": {
    "text": "None",
    "value": "",
    "isNone": true
  },
  "datasource": "influxdb",
  "includeAll": false,
  "name": "{{ name }}",
  "options": [
    {
      "text": "None",
      "value": "",
      "isNone": true,
      "selected": true
    }
  ],
  "query": "{{ query }}",
  "refresh": 1,
  "refresh_on_load": false,
  "regex": "",
  "type": "query",
  "hide": 0
}
