{
   "type": "interval",
   "datasource": null,
   "refresh": 1,
   "name": "{{ name }}",
   "hide": 0,
   "options": [
     {
       "text": "auto",
       "value": "$__auto_interval",
       "selected": true
     },
     {
       "text": "1s",
       "value": "1s",
       "selected": false
     },
     {
       "text": "10s",
       "value": "10s",
       "selected": false
     },
     {
       "text": "30s",
       "value": "30s",
       "selected": false
     },
     {
       "text": "1m",
       "value": "1m",
       "selected": false
     },
     {
       "text": "5m",
       "value": "5m",
       "selected": false
     }
   ],
   "includeAll": false,
   "multi": false,
   "query": "1s,10s,30s,1m,5m",
   "current": {
     "text": "auto",
     "value": "$__auto_interval"
   },
   "regex": "",
   "auto": true,
   "auto_count": 100,
   "auto_min": "1s"
 }
