{
  "datasource": "influxdb",
  "enable": true,
  "iconColor": "{{icon_color}}",
  "iconSize": {{ icon_size }},
  "lineColor": "rgba(47, 60, 207, 0.59)",
  "name": "{{ name }}",
  "query": "{{ query }}",
  "showLine": "{{ show_line }}",
  "tagsColumn": "{{ column_tags }}",
  "textColumn": "{{ column_text }}",
  "titleColumn": "{{ column_title }}"
}
