language: python
python:
  - 2.7

sudo: required

services:
  - docker

install:
  - pip install -r requirements.txt
  - docker pull dgarros/tcpreplay
  - docker pull juniper/open-nti-input-jti
  - docker pull juniper/open-nti-input-syslog
  - docker build -t juniper/open-nti .

script:
  - python -m pytest -v --durations=10
  - cd dashboards
  - python gendashboard.py --file data_streaming_collector.yaml
  - python gendashboard.py --file data_collection_agent.yaml
  - docker logs open-nti_test
  - docker logs open-nti_in_jti_test
  - docker logs open-nti_in_log_test
  - docker logs tcpreplay_test

notifications:
  email:
    recipients:
      - efrain.gonzalez@gmail.com
      - psagrerag@gmail.com
      - dgarros@gmail.com
      - mpergament@googlemail.com
    on_success: always # default: change
    on_failure: always # default: always
