{
  "collapse": true,
  "editable": true,
  "height": "250px",
  "panels": [
    {
      "aliasColors": {},
      "bars": false,
      "datasource": "influxdb",
      "editable": true,
      "error": false,
      "fill": 0,
      "grid": {
        "threshold1": null,
        "threshold1Color": "rgba(216, 200, 27, 0.27)",
        "threshold2": null,
        "threshold2Color": "rgba(234, 112, 112, 0.22)"
      },
      "id": 21,
      "legend": {
        "avg": false,
        "current": false,
        "max": false,
        "min": false,
        "show": false,
        "total": false,
        "values": false
      },
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "connected",
      "percentage": false,
      "pointradius": 1,
      "points": true,
      "renderer": "flot",
      "seriesOverrides": [],
      "span": 6,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "column": "value",
          "dsType": "influxdb",
          "function": "mean",
          "groupBy": [
            {
              "params": [
                "$interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "null"
              ],
              "type": "fill"
            }
          ],
          "query": "select mean(value) from /$host_regex.re.memory.rpd-SIZE/ where $timeFilter group by time($interval)",
          "rawQuery": true,
          "refId": "A",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "value"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "series": "/$host_regex.re.memory.rpd-SIZE/",
          "tags": []
        }
      ],
      "timeFrom": null,
      "timeShift": null,
      "title": "RPD SIZE",
      "tooltip": {
        "shared": false,
        "value_type": "cumulative"
      },
      "type": "graph",
      "yaxes": [
        {
          "show": true,
          "min": null,
          "max": null,
          "logBase": 1,
          "format": "short"
        },
        {
          "show": true,
          "min": null,
          "max": null,
          "logBase": 1,
          "format": "short"
        }
      ],
      "xaxis": {
        "show": true
      }
    },
    {
      "aliasColors": {},
      "bars": false,
      "datasource": "influxdb",
      "editable": true,
      "error": false,
      "fill": 0,
      "grid": {
        "threshold1": null,
        "threshold1Color": "rgba(216, 200, 27, 0.27)",
        "threshold2": null,
        "threshold2Color": "rgba(234, 112, 112, 0.22)"
      },
      "id": 22,
      "legend": {
        "avg": false,
        "current": false,
        "max": false,
        "min": false,
        "show": false,
        "total": false,
        "values": false
      },
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "connected",
      "percentage": false,
      "pointradius": 1,
      "points": true,
      "renderer": "flot",
      "seriesOverrides": [],
      "span": 6,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "column": "value",
          "dsType": "influxdb",
          "function": "mean",
          "groupBy": [
            {
              "params": [
                "$interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "null"
              ],
              "type": "fill"
            }
          ],
          "query": "select mean(value) from /$host_regex.re.memory.cosd-SIZE/ where $timeFilter group by time($interval)",
          "rawQuery": true,
          "refId": "A",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "value"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "series": "/$host_regex.re.memory.cosd-SIZE/",
          "tags": []
        }
      ],
      "timeFrom": null,
      "timeShift": null,
      "title": "COSD SIZE",
      "tooltip": {
        "shared": false,
        "value_type": "cumulative"
      },
      "type": "graph",
      "yaxes": [
        {
          "show": true,
          "min": null,
          "max": null,
          "logBase": 1,
          "format": "short"
        },
        {
          "show": true,
          "min": null,
          "max": null,
          "logBase": 1,
          "format": "short"
        }
      ],
      "xaxis": {
        "show": true
      }
    },
    {
      "aliasColors": {},
      "bars": false,
      "datasource": "influxdb",
      "editable": true,
      "error": false,
      "fill": 0,
      "grid": {
        "threshold1": null,
        "threshold1Color": "rgba(216, 200, 27, 0.27)",
        "threshold2": null,
        "threshold2Color": "rgba(234, 112, 112, 0.22)"
      },
      "id": 23,
      "legend": {
        "avg": false,
        "current": false,
        "max": false,
        "min": false,
        "show": false,
        "total": false,
        "values": false
      },
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "connected",
      "percentage": false,
      "pointradius": 1,
      "points": true,
      "renderer": "flot",
      "seriesOverrides": [],
      "span": 6,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "column": "value",
          "dsType": "influxdb",
          "function": "mean",
          "groupBy": [
            {
              "params": [
                "$interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "null"
              ],
              "type": "fill"
            }
          ],
          "query": "select mean(value) from /$host_regex.re.memory.dfwd-SIZE/ where $timeFilter group by time($interval)",
          "rawQuery": true,
          "refId": "A",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "value"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "series": "/$host_regex.re.memory.dfwd-SIZE/",
          "tags": []
        }
      ],
      "timeFrom": null,
      "timeShift": null,
      "title": "DFWD SIZE",
      "tooltip": {
        "shared": false,
        "value_type": "cumulative"
      },
      "type": "graph",
      "yaxes": [
        {
          "show": true,
          "min": null,
          "max": null,
          "logBase": 1,
          "format": "short"
        },
        {
          "show": true,
          "min": null,
          "max": null,
          "logBase": 1,
          "format": "short"
        }
      ],
      "xaxis": {
        "show": true
      }
    },
    {
      "aliasColors": {},
      "bars": false,
      "datasource": "influxdb",
      "editable": true,
      "error": false,
      "fill": 0,
      "grid": {
        "threshold1": null,
        "threshold1Color": "rgba(216, 200, 27, 0.27)",
        "threshold2": null,
        "threshold2Color": "rgba(234, 112, 112, 0.22)"
      },
      "id": 24,
      "legend": {
        "avg": false,
        "current": false,
        "max": false,
        "min": false,
        "show": false,
        "total": false,
        "values": false
      },
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "connected",
      "percentage": false,
      "pointradius": 1,
      "points": true,
      "renderer": "flot",
      "seriesOverrides": [],
      "span": 6,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "column": "value",
          "dsType": "influxdb",
          "function": "mean",
          "groupBy": [
            {
              "params": [
                "$interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "null"
              ],
              "type": "fill"
            }
          ],
          "query": "select mean(value) from /$host_regex.re.memory.dcd-SIZE/ where $timeFilter group by time($interval)",
          "rawQuery": true,
          "refId": "A",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "value"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "series": "/$host_regex.re.memory.dcd-SIZE/",
          "tags": []
        }
      ],
      "timeFrom": null,
      "timeShift": null,
      "title": "DCD SIZE",
      "tooltip": {
        "shared": false,
        "value_type": "cumulative"
      },
      "type": "graph",
      "yaxes": [
        {
          "show": true,
          "min": null,
          "max": null,
          "logBase": 1,
          "format": "short"
        },
        {
          "show": true,
          "min": null,
          "max": null,
          "logBase": 1,
          "format": "short"
        }
      ],
      "xaxis": {
        "show": true
      }
    },
    {
      "aliasColors": {},
      "bars": false,
      "datasource": "influxdb",
      "editable": true,
      "error": false,
      "fill": 0,
      "grid": {
        "threshold1": null,
        "threshold1Color": "rgba(216, 200, 27, 0.27)",
        "threshold2": null,
        "threshold2Color": "rgba(234, 112, 112, 0.22)"
      },
      "id": 25,
      "legend": {
        "avg": false,
        "current": false,
        "max": false,
        "min": false,
        "show": false,
        "total": false,
        "values": false
      },
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "connected",
      "percentage": false,
      "pointradius": 1,
      "points": true,
      "renderer": "flot",
      "seriesOverrides": [],
      "span": 6,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "column": "value",
          "dsType": "influxdb",
          "function": "mean",
          "groupBy": [
            {
              "params": [
                "$interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "null"
              ],
              "type": "fill"
            }
          ],
          "query": "select mean(value) from /$host_regex.re.memory.mib2d-SIZE/ where $timeFilter group by time($interval)",
          "rawQuery": true,
          "refId": "A",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "value"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "series": "/$host_regex.re.memory.mib2d-SIZE/",
          "tags": []
        }
      ],
      "timeFrom": null,
      "timeShift": null,
      "title": "MIB2D SIZE",
      "tooltip": {
        "shared": false,
        "value_type": "cumulative"
      },
      "type": "graph",
      "yaxes": [
        {
          "show": true,
          "min": null,
          "max": null,
          "logBase": 1,
          "format": "short"
        },
        {
          "show": true,
          "min": null,
          "max": null,
          "logBase": 1,
          "format": "short"
        }
      ],
      "xaxis": {
        "show": true
      }
    },
    {
      "aliasColors": {},
      "bars": false,
      "datasource": "influxdb",
      "editable": true,
      "error": false,
      "fill": 0,
      "grid": {
        "threshold1": null,
        "threshold1Color": "rgba(216, 200, 27, 0.27)",
        "threshold2": null,
        "threshold2Color": "rgba(234, 112, 112, 0.22)"
      },
      "id": 26,
      "legend": {
        "avg": false,
        "current": false,
        "max": false,
        "min": false,
        "show": false,
        "total": false,
        "values": false
      },
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "connected",
      "percentage": false,
      "pointradius": 1,
      "points": true,
      "renderer": "flot",
      "seriesOverrides": [],
      "span": 6,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "column": "value",
          "dsType": "influxdb",
          "function": "mean",
          "groupBy": [
            {
              "params": [
                "$interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "null"
              ],
              "type": "fill"
            }
          ],
          "query": "select mean(value) from /$host_regex.re.memory.snmpd-SIZE/ where $timeFilter group by time($interval)",
          "rawQuery": true,
          "refId": "A",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "value"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "series": "/$host_regex.re.memory.snmpd-SIZE/",
          "tags": []
        }
      ],
      "timeFrom": null,
      "timeShift": null,
      "title": "SNMPD SIZE",
      "tooltip": {
        "shared": false,
        "value_type": "cumulative"
      },
      "type": "graph",
      "yaxes": [
        {
          "show": true,
          "min": null,
          "max": null,
          "logBase": 1,
          "format": "short"
        },
        {
          "show": true,
          "min": null,
          "max": null,
          "logBase": 1,
          "format": "short"
        }
      ],
      "xaxis": {
        "show": true
      }
    },
    {
      "aliasColors": {},
      "bars": false,
      "datasource": "influxdb",
      "editable": true,
      "error": false,
      "fill": 0,
      "grid": {
        "threshold1": null,
        "threshold1Color": "rgba(216, 200, 27, 0.27)",
        "threshold2": null,
        "threshold2Color": "rgba(234, 112, 112, 0.22)"
      },
      "id": 27,
      "legend": {
        "avg": false,
        "current": false,
        "max": false,
        "min": false,
        "show": false,
        "total": false,
        "values": false
      },
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "connected",
      "percentage": false,
      "pointradius": 1,
      "points": true,
      "renderer": "flot",
      "seriesOverrides": [],
      "span": 6,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "column": "value",
          "dsType": "influxdb",
          "function": "mean",
          "groupBy": [
            {
              "params": [
                "$interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "null"
              ],
              "type": "fill"
            }
          ],
          "query": "select mean(value) from /$host_regex.re.memory.smid-SIZE/ where $timeFilter group by time($interval)",
          "rawQuery": true,
          "refId": "A",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "value"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "series": "/$host_regex.re.memory.smid-SIZE/",
          "tags": []
        }
      ],
      "timeFrom": null,
      "timeShift": null,
      "title": "SMID SIZE",
      "tooltip": {
        "shared": false,
        "value_type": "cumulative"
      },
      "type": "graph",
      "yaxes": [
        {
          "show": true,
          "min": null,
          "max": null,
          "logBase": 1,
          "format": "short"
        },
        {
          "show": true,
          "min": null,
          "max": null,
          "logBase": 1,
          "format": "short"
        }
      ],
      "xaxis": {
        "show": true
      }
    },
    {
      "aliasColors": {},
      "bars": false,
      "datasource": "influxdb",
      "editable": true,
      "error": false,
      "fill": 0,
      "grid": {
        "threshold1": null,
        "threshold1Color": "rgba(216, 200, 27, 0.27)",
        "threshold2": null,
        "threshold2Color": "rgba(234, 112, 112, 0.22)"
      },
      "id": 28,
      "legend": {
        "avg": false,
        "current": false,
        "max": false,
        "min": false,
        "show": false,
        "total": false,
        "values": false
      },
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "connected",
      "percentage": false,
      "pointradius": 1,
      "points": true,
      "renderer": "flot",
      "seriesOverrides": [],
      "span": 6,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "column": "value",
          "dsType": "influxdb",
          "function": "mean",
          "groupBy": [
            {
              "params": [
                "$interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "null"
              ],
              "type": "fill"
            }
          ],
          "query": "select mean(value) from /$host_regex.re.memory.smihelperd-SIZE/ where $timeFilter group by time($interval)",
          "rawQuery": true,
          "refId": "A",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "value"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "series": "/$host_regex.re.memory.smihelperd-SIZE/",
          "tags": []
        }
      ],
      "timeFrom": null,
      "timeShift": null,
      "title": "SMI-HELPER SIZE",
      "tooltip": {
        "shared": false,
        "value_type": "cumulative"
      },
      "type": "graph",
      "yaxes": [
        {
          "show": true,
          "min": null,
          "max": null,
          "logBase": 1,
          "format": "short"
        },
        {
          "show": true,
          "min": null,
          "max": null,
          "logBase": 1,
          "format": "short"
        }
      ],
      "xaxis": {
        "show": true
      }
    },
    {
      "aliasColors": {},
      "bars": false,
      "datasource": "influxdb",
      "editable": true,
      "error": false,
      "fill": 0,
      "grid": {
        "threshold1": null,
        "threshold1Color": "rgba(216, 200, 27, 0.27)",
        "threshold2": null,
        "threshold2Color": "rgba(234, 112, 112, 0.22)"
      },
      "id": 66,
      "legend": {
        "avg": false,
        "current": false,
        "max": false,
        "min": false,
        "show": false,
        "total": false,
        "values": false
      },
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "connected",
      "percentage": false,
      "pointradius": 1,
      "points": true,
      "renderer": "flot",
      "seriesOverrides": [],
      "span": 6,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "column": "value",
          "dsType": "influxdb",
          "function": "mean",
          "groupBy": [
            {
              "params": [
                "$interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "null"
              ],
              "type": "fill"
            }
          ],
          "query": "select mean(value) from /$host_regex.re.memory.sampled-SIZE/ where $timeFilter group by time($interval)",
          "rawQuery": true,
          "refId": "A",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "value"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "series": "/$host_regex.re.memory.sampled-SIZE/",
          "tags": []
        }
      ],
      "timeFrom": null,
      "timeShift": null,
      "title": "SAMPLED SIZE",
      "tooltip": {
        "shared": false,
        "value_type": "cumulative"
      },
      "type": "graph",
      "yaxes": [
        {
          "show": true,
          "min": null,
          "max": null,
          "logBase": 1,
          "format": "short"
        },
        {
          "show": true,
          "min": null,
          "max": null,
          "logBase": 1,
          "format": "short"
        }
      ],
      "xaxis": {
        "show": true
      }
    }
  ],
  "showTitle": true,
  "title": "{{ title }}"
}
