..  _dashboard_lib:

Dashboard Library
========================

Graphs
-------

.. raw:: html

{{ graphs }}

Rows
-------

.. raw:: html

{{ rows }}

Annotations
-----------

.. raw:: html

{{ annotations }}

Templatings
-----------

.. raw:: html

{{ annotations }}
