{
  "aliasColors": {},
  "bars": false,
  "datasource": "{{ datasource }}",
  "editable": true,
  "error": false,
  "fill": 0,
  "grid": {
    "threshold1": null,
    "threshold1Color": "rgba(216, 200, 27, 0.27)",
    "threshold2": null,
    "threshold2Color": "rgba(234, 112, 112, 0.22)"
  },
  "id": {{ id }},
  "legend": {
    "avg": false,
    "current": false,
    "max": false,
    "min": false,
    "show": false,
    "total": false,
    "values": false
  },
  "lines": true,
  "linewidth": 1,
  "links": [],
  "nullPointMode": "connected",
  "percentage": false,
  "pointradius": 1,
  "points": true,
  "renderer": "flot",
  "seriesOverrides": [
  {% if series_overrides_data is defined %}
    {{ series_overrides_data }}
  {% endif%}
  ],
  "span": {{ span }},
  "stack": false,
  "steppedLine": false,
  "targets": [
{% for id, target in targets.iteritems() -%}
    {
      "column": "value",
      "dsType": "influxdb",
      "interval": "",
      "query": "{{ target.query|replace('"', '\\"')|trim }}",
      "rawQuery": true,
      "refId": "{{ id }}",
      "resultFormat": "time_series",
      "policy": "default"
    }
{% if not loop.last %},{% endif %}
{%- endfor %}
  ],
  "timeFrom": null,
  "timeShift": null,
  "title": "{{ title }}",
  "tooltip": {
    "shared": false,
    "value_type": "cumulative",
    "msResolution": false
  },
  "type": "graph",
  "yaxes": [
{% if yaxes is not defined %}
{% set yaxes = [ {format: 'short' }, {format: 'short' }] %}
{% endif %}
{% for yaxe in yaxes %}
    {
      "show": true,
      "min": null,
      "max": null,
      "logBase": 1,
      "format": "{{ yaxe.format | default('short') }}",
      "label": "{{ yaxe.label | default('') }}"
    }
{% if not loop.last %},{% endif %}
{% endfor %}
  ],
  "xaxis": {
    "show": true
  }
}
