#[tags]
#  dc = "open-nti"

[agent]
  interval = "1m"
  round_interval = true
  flush_interval = "30s"
  flush_jitter = "0s"
  debug = true
  hostname = ""

[[outputs.influxdb]]
  urls = ["http://{{range service "influxdb-api" }}{{.Address}}:{{.Port}}{{else}}localhost:8086{{end}}"]
  database = "juniper"
  precision = "s"

{{range $key, $pairs := tree "inputs/netconf" | byKey}}
[[inputs.exec]]
  # Shell/commands array
  # compatible with old version
  # we can still use the old command configuration
  # command = "/usr/bin/line_protocol_collector"
  commands = ["/usr/bin/python /data/netconf-collector.py -s --host={{$key}} --tag {{ range $index, $element := key (print "inputs/netconf/" $key "/tags") | parseJSON }}{{$element}} {{end}} --commands=commands.yaml --credential=credentials.yaml"]

  ## Timeout for each command to complete.
  timeout = "30s"

  # Data format to consume.
  # NOTE json only reads numerical measurements, strings and booleans are ignored.
  data_format = "influx"
{{end}}
