#[tags]
#  dc = "open-nti"

[agent]
  interval = "1m"
  round_interval = true
  flush_interval = "30s"
  flush_jitter = "0s"
  debug = true
  hostname = ""

[[outputs.influxdb]]
  urls = ["http://{{range service "influxdb-api" }}{{.Address}}:{{.Port}}{{else}}localhost:8086{{end}}"]
  database = "juniper"
  precision = "s"

{{range $key, $pairs := tree "inputs/netconf" | byKey}}
[[inputs.exec]]
  # Shell/commands array
  commands = ["/usr/bin/python /source/py-netconf-collector/netconf-collector.py -s --host={{$key}} --tag {{ range $index, $element := key (print "inputs/netconf/" $key "/tags") | parseJSON }}{{$element}} {{end}} --parserdir=/source/py-netconf-collector/parsers --commands=/source/commands.yaml --credential=/source/credentials.yaml"]

  ## Timeout for each command to complete.
  timeout = "1m"

  # Data format to consume.
  data_format = "influx"
{{end}}
