    <table style="width:100%;white-space:normal;" border=1 class="docutils jnpr-table" >
      <thead>
        <tr>
           <th class="jnpr-name">Graph</th>
           <th class="jnpr-desc">File</th>
        </tr>
      <thead>
      <tbody>
{% for graph in graphs %}
        <tr>
          <td class="jnpr-name">{{ graph.title }}</td>
          <td class="jnpr-desc">{{ graph.file }}</td>
        </tr>
{% endfor %}
      <tbody>
    </table>
